body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}


/* Common CSS */

.display-flex {
    display: flex;
}

.primary-btn {
    border-radius: 6px;
    padding: 10px 20px;
    background: rgb(254, 163, 1);
    font-weight: 600;
    color: white;
    border: 0px;
}

li>a {
    text-decoration: none;
}

/* Header Styles Start */

/* Nav Styles */

.header {
    height: 100dvh;
    background-color: red;
}

.nav-bar {
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    margin: auto;
}

.logo {
    width: 50px;
}

.brand {
    align-items: center;
    gap: 10px;
}

.brand>h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}

.nav-items>li {
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
}

.item-1 {
    color: orange;
}

.item-2 {
    color: skyblue;
}

.item-3 {
    color: rgb(5, 212, 223);
}

.item-4 {
    color: rgb(93, 88, 239);
}

.bar-icon {
    display: none;
}

/* Hero section styles */

.hero-section {
    width: 1160px;
    margin: auto;
}

.hero-components {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-title-span-1 {
    color: orange;
}

.hero-title-span-2 {
    color: rgb(1, 172, 253);
}

.hero-content {
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.enroll-btn {
    background-color: black;
    border: 0px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 6px;
}

/* Header Styles End */















/* Responsive CSS for the project Start */

/* Header Start */
@media screen and (max-width: 576px) {
    .nav-bar {
        width: 100%;
        border-bottom: 1px solid rgb(254, 163, 1);
        padding-bottom: 5px;
    }

    .logo {
        width: 40px;
    }

    .bar-icon {
        display: block;
        font-size: 25px;
        color: rgb(49, 49, 49);
    }

    .brand>h1 {
        display: none;
    }

    ul>li,
    .primary-btn {
        display: none;
    }

    /* Hero styles */
    .hero-section {
        width: 100%;
    }
    .hero-components{
        flex-direction: column-reverse;
    }

    .hero-content , .hero-title{
        text-align: center;
    }
    .hero-kids{
        padding-top: 30px;
        max-width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 1400px) {}


/* Header End */

/* Responsive CSS for the project End */